nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav a {
  width: 50px;
  margin: 0;
  font-size: 12px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

nav input {
  width: 25%;
}

.boxNameId {
  display: flex;
  width: 20%;
  height: 10vh;
  border: 3px solid var(--dark-color) !important;
  border-radius: 15px;
}

.boxNameId span {
  font-size: 14px;
}

.titleName {
  position: relative;
  background: var(--dark-color);
  color: var(--light-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--dark-color);
  top: 50px;
  font-size: 14px;
  font-variant: small-caps;
}

.pokeImage {
  width: 65px;
  margin: -35% auto 0px auto;
}

#content {
  width: 100%;
}

/* Format responsive je cache les autres éléments  */
.spanImg,
.typeBox,
.about,
.description,
.contentStats,
.boxMainStats {
  visibility: hidden;
}

/* PARTIE MODALE  */

.modalBoxNameId {
  margin-top: 10px;
  width: 85%;
  height: 70vh;
  background-color: #ffffff;
  border: 5px groove rgb(189, 144, 62) !important;
}

.modalTitleName h2 {
  width: 45%;
  margin: auto;
  border-radius: 25px;
  color: #ffffff;
  background-color: lightslategray;
  border: none;
}

.modalPokeImage {
  width: 45%;
  margin: 15px auto;
  margin-bottom: -55px;
  background-size: contain;
}

.modalSpanImg {
  visibility: visible;
}

.modaltypeBox {
  display: flex;
  visibility: visible;
  margin-top: 35px;
}

.modalAbout {
  visibility: visible;
  color: #ffffff;
  background-color: #e8babc;
}

.modalDescription {
  visibility: visible;
  color: rgb(80, 134, 141);
}

.modalContentStats {
  visibility: visible;
}

.modalBoxMainStats {
  display: flex;
  justify-content: center;
  visibility: visible;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 450px) {
  .titleName {
    font-size: 12px;
  }

  nav ul {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  nav li a {
    margin: 2px;
    width: 50px;
  }
}
