/* // ADAPTATION DES FORMATS PETITS ÉCRANS */
body {
  padding: 0;
  margin: 0;
  padding-right: 0 !important;
}
/* BARRE DE NAVIGATION  */
nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav a {
  width: 50px;
  margin: 0;
  font-size: 12px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

nav input {
  width: 25%;
}

#content {
  width: 100%;
}

/* CARTES POKÉMON */
.boxNameId {
  display: flex;
  width: 25%;
  height: 15vh;
  min-height: 10vh;
  border: 3px solid var(--dark-color) !important;
  border-radius: 15px;
}

.boxNameId span {
  font-size: 14px;
}

.titleName {
  position: relative;
  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--dark-color);
  font-size: 14px;
  font-variant: small-caps;
}

.pokeImage {
  width: 65px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

/* FORMAT RESPONSIVE JE CACHE LES AUTRES NOEUDS  */
.spanImg,
.typeBox,
.about,
.description,
.contentStats,
.boxMainStats {
  visibility: hidden;
}

/* PARTIE MODALE  */
/* POUR CHAQUE NOEUD J'AJOUTE UNE CLASSE VIA : SCRIPT.JS */
.modalBoxNameId {
  margin-top: 10px;
  width: 70%;
  height: 70vh;
  background-color: #ffffff;
  border: 5px groove rgb(189, 144, 62) !important;
}

.modalTitleName h2 {
  width: 45%;
  margin: auto;
  border-radius: 25px;
  color: #ffffff;
  background-color: lightslategray;
  border: none;
  top: 0;
}

.modalPokeImage {
  width: 45%;
  margin: 15px auto;
  margin-bottom: -45px;
  background-size: contain;
}

.modalSpanImg {
  visibility: visible;
}

.modaltypeBox {
  display: flex;
  visibility: visible;
  margin-top: 35px;
}

.modalAbout {
  visibility: visible;
  color: #ffffff;
  background-color: #e8babc;
}

.modalDescription {
  visibility: visible;
  color: rgb(80, 134, 141);
}

.modalContentStats {
  visibility: visible;
}

.modalBoxMainStats {
  display: flex;
  justify-content: center;
  visibility: visible;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-content: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  nav li a {
    margin: 2px;
    width: 50px;
  }

  nav input {
    width: 80px;
  }

  .titleName {
    font-size: 12px;
  }

  .boxNameId {
    width: 35%;
  }

  .pokeImage {
    -webkit-animation: none;
    animation: none;
  }

  .spanImg {
    -webkit-animation: none;
    animation: none;
  }

  .modalBoxNameId {
    margin-top: 10px;
    width: 70%;
    height: 70vh;
  }
}
